
@tailwind base;
@tailwind components;
@tailwind utilities;
/* @layer base{ */
  /* body{
    background-color:black;
    
  } */
   html{
    scroll-behavior: smooth;
   }
/* } */

.slick-slide > div>*{
  height: 100vh;
  /* background-color: red; */
  background-size:cover;
}
/* index.css or tailwind.css */
/* Custom Scrollbar Styles */
.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: #4B5563 #E5E7EB; /* Thumb and track colors */
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #4B5563; /* Thumb color */
  border-radius: 9999px; /* Roundness of the thumb */
  
}

::-webkit-scrollbar-track {
  background-color: #E5E7EB; /* Track color */
}




